
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$primary-color: #004c8e;

.contenaire-tableau{
    @extend .row;
}

.jesaispasquoi{
    @extend .col-md-12;
}
.tableau-utilisateur{
    @extend .table;
    @extend .table-responsive;
    @extend .panel;
    @extend .panel-default;
}
.sous-tableau{
    @extend .table;
    @extend .table-hover;
    @extend .table-condensed;
}

.dataGridHead {
    background-color: $primary-color;
	color: white;
}
