<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/css/sass/test2.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <div class="container">
            <%= content %>
        </div>
    </body>
</html>
