<div id="ctl0_Main_ListAccounts_MainPanel" class="contenaire-tableau">
    <div class='jesaispasquoi'>
	       <div class='tableau-utilisateur'>
               <table id="ctl0_Main_ListAccounts_dtgUsers" cellpadding="4" class="sous-tableau">
                   <thead>
                       <tr class="dataGridHead">
                            <th>Login</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr class="dataGridItem">
                        <td>1409154437</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="/index.php?page=accounts.Modify&amp;id=7571"><img src="themes/quickspot/images/modify.png" alt="" style="border-width:0;" /></a>
                        </td>
                        <td></td>
                        <td>
					<input type="image" name="ctl0$Main$ListAccounts$dtgUsers$ctl2$ctl10" src="themes/quickspot/images/userSecurity.png" alt="" />
			</td>
</tr><tr class="dataGridItemAlternate">
<td>lesvoyageurs</td>
<td>pichereau</td>
<td>  </td>
<td></td>
<td></td>
<td>
				<a href="/index.php?page=accounts.Modify&amp;id=3229"><img src="themes/quickspot/images/modify.png" alt="" style="border-width:0;" /></a>
			</td>
<td>
				<input type="image" name="ctl0$Main$ListAccounts$dtgUsers$ctl3$ctl8" src="themes/quickspot/images/delete24.png" alt="" onclick="if (!confirm('Confirmez-vous la suppression de cet utilisateur ?')) return false;" id="ctl0_Main_ListAccounts_dtgUsers_ctl3_ctl8" />
			</td>
<td>
					<input type="image" name="ctl0$Main$ListAccounts$dtgUsers$ctl3$ctl10" src="themes/quickspot/images/userSecurity.png" alt="" />
			</td>
</tr><tr class="dataGridItem">
<td>1314891406</td>
<td></td>
<td> Burgmeister</td>
<td></td>
<td></td>
<td>
				<a href="/index.php?page=accounts.Modify&amp;id=4838"><img src="themes/quickspot/images/modify.png" alt="" style="border-width:0;" /></a>
			</td>
<td>
				<input type="image" name="ctl0$Main$ListAccounts$dtgUsers$ctl4$ctl8" src="themes/quickspot/images/delete24.png" alt="" onclick="if (!confirm('Confirmez-vous la suppression de cet utilisateur ?')) return false;" id="ctl0_Main_ListAccounts_dtgUsers_ctl4_ctl8" />
			</td>
<td>
					<input type="image" name="ctl0$Main$ListAccounts$dtgUsers$ctl4$ctl10" src="themes/quickspot/images/userSecurity.png" alt="" />
			</td>
</tr><tr class="dataGridItemAlternate">
<td>1314890861</td>
<td>Roland</td>
<td> Christ, Président</td>
<td></td>
<td></td>
<td>
				<a href="/index.php?page=accounts.Modify&amp;id=4837"><img src="themes/quickspot/images/modify.png" alt="" style="border-width:0;" /></a>
			</td>
<td>
				<input type="image" name="ctl0$Main$ListAccounts$dtgUsers$ctl5$ctl8" src="themes/quickspot/images/delete24.png" alt="" onclick="if (!confirm('Confirmez-vous la suppression de cet utilisateur ?')) return false;" id="ctl0_Main_ListAccounts_dtgUsers_ctl5_ctl8" />
			</td>
<td>
					<input type="image" name="ctl0$Main$ListAccounts$dtgUsers$ctl5$ctl10" src="themes/quickspot/images/userSecurity.png" alt="" />
			</td>
</tr><tr class="dataGridItem">
<td></td>
<td></td>
<td> Hanser</td>
<td></td>
<td></td>
<td>
				<a href="/index.php?page=accounts.Modify&amp;id=89"><img src="themes/quickspot/images/modify.png" alt="" style="border-width:0;" /></a>
			</td>
<td>

			</td>
<td>
					<input type="image" name="ctl0$Main$ListAccounts$dtgUsers$ctl6$ctl10" src="themes/quickspot/images/userSecurity.png" alt="" />
			</td>
</tr><tr class="dataGridItemAlternate">
<td>1349360533</td>
<td>ANNICK</td>
<td> LANOE MICHOLET</td>
<td></td>
<td></td>
<td>
				<a href="/index.php?page=accounts.Modify&amp;id=5908"><img src="themes/quickspot/images/modify.png" alt="" style="border-width:0;" /></a>
			</td>
<td>

			</td>
<td>
					<input type="image" name="ctl0$Main$ListAccounts$dtgUsers$ctl7$ctl10" src="themes/quickspot/images/userSecurity.png" alt="" />
			</td>
</tr><tr class="dataGridItem">
<td>1401790887</td>
<td>Monsieur</td>
<td> le Maire</td>
<td></td>
<td></td>
<td>
				<a href="/index.php?page=accounts.Modify&amp;id=7386"><img src="themes/quickspot/images/modify.png" alt="" style="border-width:0;" /></a>
			</td>
<td>

			</td>
<td>
					<input type="image" name="ctl0$Main$ListAccounts$dtgUsers$ctl8$ctl10" src="themes/quickspot/images/userSecurity.png" alt="" />
			</td>
</tr><tr class="dataGridItemAlternate">
<td>annedebretagne</td>
<td>cecile</td>
<td> Legendre</td>
<td></td>
<td></td>
<td>
				<a href="/index.php?page=accounts.Modify&amp;id=3087"><img src="themes/quickspot/images/modify.png" alt="" style="border-width:0;" /></a>
			</td>
<td>
				<input type="image" name="ctl0$Main$ListAccounts$dtgUsers$ctl9$ctl8" src="themes/quickspot/images/delete24.png" alt="" onclick="if (!confirm('Confirmez-vous la suppression de cet utilisateur ?')) return false;" id="ctl0_Main_ListAccounts_dtgUsers_ctl9_ctl8" />
			</td>
<td>
					<input type="image" name="ctl0$Main$ListAccounts$dtgUsers$ctl9$ctl10" src="themes/quickspot/images/userSecurity.png" alt="" />
			</td>
</tr><tr class="dataGridItem">
<td>1299603916</td>
<td></td>
<td> M. BOSQUET</td>
<td></td>
<td></td>
<td>
				<a href="/index.php?page=accounts.Modify&amp;id=4213"><img src="themes/quickspot/images/modify.png" alt="" style="border-width:0;" /></a>
			</td>
<td>

			</td>
<td>
					<input type="image" name="ctl0$Main$ListAccounts$dtgUsers$ctl10$ctl10" src="themes/quickspot/images/userSecurity.png" alt="" />
			</td>
</tr><tr class="dataGridItemAlternate">
<td>1307525877</td>
<td>Annouk</td>
<td> MARCHIORETTI</td>
<td></td>
<td></td>
<td>
				<a href="/index.php?page=accounts.Modify&amp;id=4562"><img src="themes/quickspot/images/modify.png" alt="" style="border-width:0;" /></a>
			</td>
<td>

			</td>
<td>
					<input type="image" name="ctl0$Main$ListAccounts$dtgUsers$ctl11$ctl10" src="themes/quickspot/images/userSecurity.png" alt="" />
			</td>
</tr></tbody>
</table>


</div>
